<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <h1 class="text-center"><%= title %></h1>
    <!-- Login Form STARTs Here -->
    <div class="row mt-5">
      <div class="col-md-6 mx-auto border">
        <% if( msg !=''){ %>
        <div class="alert alert-danger" role="alert">
          <strong><%=msg %></strong>
        </div>
        <% } %>
        <h5 class="alert alert-primary">Login</h5>
        <form action="/" method="post">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">User Name</div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter UserName" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">Password</div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password"
                  placeholder="Enter Password" />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">Login </button>
              </div>
            </div>
            <div class="col-md-9">
               If don't have an account ? <a href="/signup">Click Here</a>
            </div>
        </form>
      </div>
    </div>
    <!-- Login Form ENDs here -->
  </div>
  <%- include("footer") %>
</body>

</html>